.container-character {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .container-character {
    margin-left: 70px;
    margin-right: 70px;
  }
  .right {
    margin-left: 10px !important;
  }

  .left {
    margin-right: 10px !important;
  }
}

@media (max-width: 768px) {
  .image-container {
    margin-right: auto;
    margin-left: auto;
  }
  .name {
    max-width: 300px;
    margin-top: 20px !important;
    margin-left: 20px !important;
  }
  .low {
    margin: 10px !important;
  }

  h1 {
    font-size: 40px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  p {
    font-size: 20px !important;
    font-weight: 300;
  }
}

.favorite {
  text-align: end;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.name {
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.low-container {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.low {
  flex: 2;
  min-width: 300px;
  border-radius: 20px;
  background-color: rgba(220, 218, 218, 0.841);
  margin: auto;
  margin-top: 40px;
  padding: 20px;
}

h1 {
  font-size: 60px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 30px;
  font-weight: 300;
}

img {
  border-radius: 20px;
}
