.pages-buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.home-container{
  position: relative;
}

@media (min-width: 768px) {
  .home-container {
    margin: 0 100px;
  }
.filter {
    position: absolute;
    display: flex;
    top: 0px;
  }
}

@media (max-width: 768px) {
  .home-container {
    margin: 0 20px;
  }
  .filter {
    margin-bottom: 10px;
    text-align: center;
  }
}

