.pages-buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .home-container {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
  }
.filter {
    position: absolute;
    display: flex;
    left: 10px;
    top: 0;
  }
}

@media (max-width: 600px) {
  .home-container {
    position: relative;
  }
  .filter {
    margin-bottom: 10px;
    text-align: center;
  }
}

