@media (min-width: 768px) {
  .container-nav {
    margin-left: 100px;
  }
  .bars {
    display: none;
  }
  .img{
    width: 120px;
  }
}

@media (max-width: 768px) {
  .container-nav {
    margin-left: 0px;
  }
  .logo-container-header{
    display: flex;
  }
  .img{
    width: 60px;
    flex: 1;
  }
  .navbar-brand {
    padding: 8px;
    margin-left: 16px;
  }
  .nav-link {
    padding: 8px;
    margin-left: 16px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column !important;
    position: fixed;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    background-color: #343a40;
    z-index: 1;
    right: 100%;
    transition: 0.3s;
    overflow-y: auto;
  }

  .nav-toggle {
    display: flex;
    cursor: pointer;
  }
  .bars {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 5px;
  }

  .nav-menu_visible {
    right: 0;
  }
}

.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}